<div class="nav">
    <img class="logo" src="../../../assets/logo.png">
    <div class="nav-child">
        <p>Lucas Freitas</p>
        <a href="#">Desconectar</a>
    </div>
</div>

<div class="list-consultations">
    <div class="cabecalho">
        <h3>Consulta Clínica</h3>
        <button type="submit" mat-flat-button color="accent"> + Nova Consulta</button>
    </div>

    <!-- <ul>
        <li>ESPECIALIDADE</li>
        <li>PROFISSIONAL</li>
        <li>DATA</li>
        <li>HORA</li>
        <li></li>
    </ul>

    <ul>
        <li>Cardiologia</li>
        <li>Dr. Caio Carlos Ferreira</li>
        <li>01/01/2020</li>
        <li>13:00</li>
        <li><a href="#"> X Desmarcar</a></li>
    </ul> -->

    <table>
        <tr>
            <th>ESPECIALIDADE</th>
            <th>PROFISSIONAL</th>
            <th>DATA</th>
            <th>HORA</th>
            <th></th>
        </tr>
        <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Ferreira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td><a href="#"> X Desmarcar</a></td>
        </tr>
    </table>
</div>