<div class="nav">
    <img class="logo" src="../../../assets/logo.png">
    <div class="nav-child">
        <p>Lucas Freitas</p>
        <a href="#">Desconectar</a>
    </div>
</div>

<div class="list-consultations">
    <div class="cabecalho">
        <h3>Consulta Clínica</h3>
        <button type="submit" mat-flat-button color="accent"> + Nova Consulta</button>
    </div>

    <table>
        <tr>
            <th>ESPECIALIDADE</th>
            <th>PROFISSIONAL</th>
            <th>DATA</th>
            <th>HORA</th>
            <th></th>
        </tr>
        <tr *ngFor="let consulation of consulations">
            <td>{{consulation.medico.especialidade.especialidade}}</td>
            <td>{{consulation.medico.nome}}</td>
            <td>{{consulation.dia}}</td>
            <td>{{consulation.horario}}</td>
            <td><a href="#"> X Desmarcar</a></td>
        </tr>
    </table>
</div>