<div class="nav">
    <img class="logo" src="../../../assets/logo.png">
    <div class="nav-child">
        <p style="text-transform: capitalize">{{user}}</p>
        <a (click)="disconnect()" href="#">Desconectar</a>
    </div>
</div>

<div class="list-consultations">
    <div class="cabecalho">
        <h3>Consulta Clínica</h3>
        <button type="submit" mat-flat-button color="accent" [routerLink]="['/consultation']"> + Nova Consulta</button>
    </div>

    <table>
        <tr>
            <th>ESPECIALIDADE</th>
            <th>PROFISSIONAL</th>
            <th>DATA</th>
            <th>HORA</th>
            <th></th>
        </tr>
        <tr *ngFor="let consultation of consultations">
            <td>{{consultation.medico.especialidade.especialidade}}</td>
            <td>{{consultation.medico.nome}}</td>
            <td>{{consultation.dia | date: 'dd/MM/yyyy'}}</td>
            <td>{{consultation.horario}}</td>
            <td>
                <button mat-button color="primary" (click)="delete(consultation)">
                    <mat-icon>close</mat-icon> Desmarcar </button>
            </td>
        </tr>
    </table>
</div>