<form (ngSubmit)="onSubmit()" #form="ngForm">

    <div class="label-logo">
        <img class="logo" src="../../../assets/logo.png">
        <h1>Crie sua conta</h1>
    </div>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="username" id="username" [(ngModel)]="account.username">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" id="email" [(ngModel)]="account.email">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <show-hide-password size="lg">
                <input matInput type="password" name="password" id="password" [(ngModel)]="account.password">
            </show-hide-password>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar Senha</mat-label>
            <show-hide-password size="lg">
                <input matInput type="password">
            </show-hide-password>
        </mat-form-field>
    </p>

    <div class="buttons-form">
        <button type="submit" mat-flat-button color="accent">Confirmar</button>
        <button mat-button color="accent" [routerLink]="['/login']">Cancelar</button>
    </div>

</form>