::ng-deep .ng-star-inserted{
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    align-items: center !important;
}


form {
    background: crimson;
    display: inline-block;
    position: relative;
    margin-left: 350px;
    margin-right: 350px;
}

.logo {
    width: 180.74px;
    height: 50px;
    margin-right: 24%;
}

.mat-form-field.mat-form-field {
    width: 400px;
    height: 40px;
    margin-top: 3%;
}

mat-form-field mat-label{
    color:#A8A8A8;
}

input.mat-input-element {
    color: #444444;
}

/* checkbox */
mat-checkbox {
    /* White */
    background: #FFFFFF;
    margin-right: 244px;
    margin-top: 2%;
        
}

.mat-button{
    /* position: absolute; */
    background: #FFFFFF;
    display: block;
    margin-top: 3%;
    margin-left: 263px;
    width: 180px;
    height: 40px;
}

.mat-flat-button {
    /* position: absolute; */
    background: #49B4BB;
    display: block;
    margin-top: -4.3%;
    margin-left: 484px;
    width: 180px;
    height: 40px;
}

/* Sobreescritas Material */
::ng-deep .mat-form-field .mat-label {
    color: #A8A8A8;
}
  
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color:#49B4BB;
}

/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:#49B4BB;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #49B4BB;
}

::ng-deep .mat-checkbox-label {
    color: #A8A8A8;
}

.mat-button.mat-accent{
    color: #49B4BB;
}

.mat-input-element  {
    caret-color: #A8A8A8;   
}