<form (ngSubmit)="onSubmit()" #form="ngForm">
    <img class="logo" src="../../../assets/logo.png">

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email ou Login</mat-label>
            <input matInput type="username" name="username" id="username" [(ngModel)]="login.username">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <show-hide-password size="lg">
                <input matInput type="password" name="password" id="password" [(ngModel)]="login.password">
            </show-hide-password>
        </mat-form-field>
    </p>

    <mat-checkbox>Lembar minha senha</mat-checkbox>

    <button mat-button color="accent" [routerLink]="['/create-account']">Criar Conta</button>
    <button type="submit" mat-flat-button color="accent">Acessar</button>
</form>