.content-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 180.74px;
    height: 50px;
}

.input-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.mat-form-field.mat-form-field {
    width: 400px;
    height: 40px;
    margin-top: 28px;
}

mat-form-field mat-label {
    color: #A8A8A8;
}

input.mat-input-element {
    color: #444444;
}

mat-checkbox {
    margin-top: 25px;
    background: #FFFFFF;
}

.button-form {
    display: flex;
    margin: 41px auto;
}

.mat-button {
    background: #FFFFFF;
    width: 180px;
    height: 40px;
    border-radius: 8px;
}

.mat-flat-button {
    background: #49B4BB;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    margin-left: 40px;
}

.mat-button.mat-accent {
    color: #49B4BB;
}

.mat-input-element {
    caret-color: #A8A8A8;
    padding: 1px 1px 15px;
}

::ng-deep .ng-star-inserted {
    display: flex !important;
    height: 75% !important;
    align-content: center !important;
}

::ng-deep .authentication {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

::ng-deep .mat-form-field .mat-label {
    color: #A8A8A8;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #49B4BB;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #49B4BB;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #49B4BB;
}

::ng-deep .mat-checkbox-label {
    color: #A8A8A8;
}

::ng-deep .ng-fa-icon {
    color: #A8A8A8;
}

::ng-deep .btn-outline-secondary {
    margin-left: 350px !important;
    border: none;
    background-color: white;
    position: absolute;
    transform: translate(-50%);
    right: -20px;
    top: 15%;
}