<form>
  <img class="logo" src="../../../assets/logo.png" >
  <br>
  <mat-form-field appearance="outline">
      <mat-label>Email ou Login</mat-label>
      <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password">
  </mat-form-field>
  <br>
  <mat-checkbox>Lembar minha senha</mat-checkbox>

  <button mat-button color="accent">Criar Conta</button>
  <button mat-flat-button color="accent">Acessar</button>
</form>