<div class="content">
    <div class="list-consultations">
        <div class="cabecalho">
            <h3>Nova Consulta</h3>
        </div>

        <div class="div-drop">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <mat-form-field appearance="fill">
                    <mat-label>Especialidade</mat-label>
                    <mat-select formControlName="especialidade" id="especialidade" (selectionChange)="onChangeEspecialidade($event)">
                        <mat-option *ngFor="let schedule of schedules" [value]="schedule.medico.especialidade.especialidade">
                            {{schedule.medico.especialidade.especialidade}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Médico</mat-label>
                    <mat-select id="medico-nome" [disabled]="true">
                        <mat-option *ngFor="let schedule of schedules" [value]="schedule.medico.nome">
                            {{schedule.medico.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Data</mat-label>
                    <mat-select id="dia" [disabled]="true">
                        <mat-option *ngFor="let schedule of schedules" [value]="schedule.dia">
                            {{schedule.dia}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Hora</mat-label>
                    <mat-select id="horarios" [disabled]="true">
                        <mat-option *ngFor="let schedule of schedules" [value]="schedule.horarios">
                            {{schedule.horarios}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="div-button">
                    <button mat-button color="accent" [routerLink]="['/home']">Cancelar</button>
                    <button type="submit" mat-flat-button color="accent">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>