<div class="content">
    <div class="list-consultations">
        <div class="cabecalho">
            <h3>Nova Consulta</h3>
        </div>

        <div class="div-drop">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <mat-form-field appearance="fill">
                    <mat-label>Especialidade</mat-label>
                    <mat-select id="especialidade" (selectionChange)="onChangeEspecialidade($event)">
                        <mat-option *ngFor="let schedule of schedules" [value]="schedule.medico.especialidade.especialidade">
                            {{schedule.medico.especialidade.especialidade}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Médico</mat-label>
                    <mat-select id="medico-nome" [disabled]="medicoED" (selectionChange)="onChangeMedico($event)">
                        <mat-option *ngFor="let medico of medicosFilter" [value]="medico.id">
                            {{medico.medico.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Data</mat-label>
                    <mat-select id="dia" [disabled]="dataED" (selectionChange)="onChangeData($event)">
                        <mat-option id='dia-selecionado' *ngFor="let data of dataFilter" [value]="data.id">
                            {{data.dia | date: 'dd/MM/yyyy'}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Hora</mat-label>
                    <mat-select id="horarios" [disabled]="horaED" (selectionChange)="onChangeHora($event)">
                        <mat-option *ngFor="let horario of horarioMap" [value]="horario">
                            {{horario}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="div-button">
                    <button mat-button color="accent" [routerLink]="['/home']">Cancelar</button>
                    <button [disabled]="buttonED" type="submit" mat-flat-button color="accent">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>